#### Run-Day Breakout System
+ Run days occur in trending markets
+ Buy reversals are initiated when market closes above the true high of specified number of prior down run days
+ Sell reversals are initiated when market closes below the true low of specified number of prior up days


#### Why this could work
+ The ability for market to close opposite extreme point of strongly trending days implies possible trend reversal

#### Trading Signals
+ Buy
 + Close is above maximum true high of most recent N down run days
 + The most recent run day must be an up run day

+ Sell
    + Close is below minimum of true low of most recent up run days 
    + The most recent run day muse me a down run day
    
#### Parameters
+ N1: run day if daily true high/low is above/below following N1 days
+ N2: number of prior run days used to compute the max true high/min true low for buy/sell signal


#### Daily Checklist
+ Check whether the trading day N days prior to current day can defined as 
+ Track all Run Days and their true high and lows
+ If short:
    + Check whether today's close is above the max true high of past N down run days
    + If True and most recent run day was up run day reverse from short to long
+ If long:
    + Check whether today's close is below the min true low of past N up run days
    + If True and most recent run day was down run day, reverse from long to short 

+ If a day meets the criteria of being both an up and down run day, then it is not considered a run day

In [1]:
from math import floor
import datetime as datetime
import quandl as ql
import xarray as xr
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from pylab import mpl, plt
plt.style.use('seaborn')
mpl.rcParams['font.family'] = 'serif'
k = 'YgkL6nxrm_SsUs7so2MM'

In [4]:
cl = ql.get('CHRIS/CME_CL1', api_key=k)

In [6]:
cl.tail()

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
2019-01-18,52.23,53.92,52.09,53.76,1.73,53.80,186006.0,61293.0
2019-01-22,53.73,54.24,51.80,52.77,1.23,52.57,39659.0,25682.0
2019-01-23,52.95,53.64,51.86,52.40,0.39,52.62,698010.0,499043.0
2019-01-24,52.45,53.47,52.07,53.18,0.51,53.13,708068.0,496877.0
2019-01-25,53.17,53.94,52.91,53.55,0.56,53.69,587559.0,481966.0

In [9]:
df.head()

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
1983-03-30,29.01,29.56,29.01,29.40,NaN,29.40,949.0,470.0
1983-03-31,29.40,29.60,29.25,29.29,NaN,29.29,521.0,523.0
1983-04-04,29.30,29.70,29.29,29.44,NaN,29.44,156.0,583.0
1983-04-05,29.50,29.80,29.50,29.71,NaN,29.71,175.0,623.0
1983-04-06,29.90,29.92,29.65,29.90,NaN,29.90,392.0,640.0

In [29]:
#def compute_run_days(df):
df = cl   
true_range = df.copy()
possible_highs = pd.concat([df['Last'].shift(1), df['High']],axis=1)
true_range['true_high'] = np.max(possible_highs,axis=1)

possible_lows = pd.concat([df['Low'],df['Last'].shift(1)],axis=1)
true_range['true_low'] = np.min(possible_lows, axis=1)
true_range['true_range'] = true_range['true_high'] - true_range['true_low']

In [41]:
# up_run_day = true_range.where(true_range['true_high'] > true_range['true_high'].shift(5), 1)

In [42]:
up_run_day

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest,true_high,true_low,true_range
Date,,,,,,,,,,,
1983-03-30,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-03-31,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-04-04,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-04-05,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-04-06,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-04-07,29.90,30.20,29.86,30.17,NaN,30.17,817.0,795.0,30.20,29.86,0.34
1983-04-08,30.65,30.65,30.25,30.38,NaN,30.38,365.0,651.0,30.65,30.17,0.48
1983-04-11,30.40,30.41,30.00,30.26,NaN,30.26,265.0,681.0,30.41,30.00,0.41
1983-04-12,30.50,31.00,30.50,30.83,NaN,30.83,469.0,711.0,31.00,30.26,0.74
1983-04-13,30.60,30.95,30.60,30.82,NaN,30.82,657.0,823.0,30.95,30.60,0.35
1983-04-14,30.70,30.86,30.65,30.69,NaN,30.69,202.0,805.0,30.86,30.65,0.21
1983-04-15,30.55,30.60,30.35,30.48,NaN,30.48,295.0,908.0,30.69,30.35,0.34
1983-04-18,30.56,30.80,30.55,30.75,NaN,30.75,128.0,940.0,30.80,30.48,0.32
1983-04-19,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-04-20,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-04-21,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-04-22,30.62,30.85,30.62,30.75,NaN,30.75,307.0,1075.0,30.85,30.62,0.23
1983-04-25,30.78,30.89,30.78,30.84,NaN,30.84,113.0,1087.0,30.89,30.75,0.14
1983-04-26,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-04-27,30.80,30.82,30.78,30.78,NaN,30.78,24.0,1074.0,30.82,30.71,0.11
1983-04-28,30.73,30.90,30.68,30.74,NaN,30.74,563.0,1223.0,30.90,30.68,0.22
1983-04-29,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-05-02,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-05-03,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-05-04,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-05-05,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-05-06,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-05-09,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-05-10,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
1983-05-11,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...
2018-12-11,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2018-12-12,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2018-12-13,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2018-12-14,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2018-12-17,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2018-12-18,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2018-12-19,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2018-12-20,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2018-12-21,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2018-12-24,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2018-12-26,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2018-12-27,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2018-12-28,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2018-12-31,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2019-01-02,45.80,47.78,44.35,46.32,1.13,46.54,846302.0,381003.0,47.78,44.35,3.43
2019-01-03,46.26,47.49,45.35,46.83,0.55,47.09,783162.0,381544.0,47.49,45.35,2.14
2019-01-04,46.90,49.22,46.65,48.31,0.87,47.96,811909.0,378871.0,49.22,46.65,2.57
2019-01-07,48.30,49.79,48.11,48.77,0.56,48.52,814051.0,367400.0,49.79,48.11,1.68
2019-01-08,48.73,49.95,48.31,49.79,1.26,49.78,753414.0,361363.0,49.95,48.31,1.64
2019-01-09,49.80,52.58,49.71,52.16,2.58,52.36,872803.0,329416.0,52.58,49.71,2.87
2019-01-10,52.18,52.78,51.37,52.32,0.23,52.59,808684.0,290508.0,52.78,51.37,1.41
2019-01-11,52.28,53.31,51.18,51.70,1.00,51.59,799400.0,260311.0,53.31,51.18,2.13
2019-01-14,51.73,52.11,50.38,50.78,1.08,50.51,789762.0,216583.0,52.11,50.38,1.73
2019-01-15,50.78,52.30,50.64,51.99,1.60,52.11,659033.0,176807.0,52.30,50.64,1.66
2019-01-16,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2019-01-17,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00
2019-01-18,52.23,53.92,52.09,53.76,1.73,53.80,186006.0,61293.0,53.92,52.09,1.83
2019-01-22,53.73,54.24,51.80,52.77,1.23,52.57,39659.0,25682.0,54.24,51.80,2.44
2019-01-23,52.95,53.64,51.86,52.40,0.39,52.62,698010.0,499043.0,53.64,51.86,1.78
2019-01-24,52.45,53.47,52.07,53.18,0.51,53.13,708068.0,496877.0,53.47,52.07,1.40